In [4]:
import pandas as pd
from google.oauth2 import service_account
from googleapiclient.discovery import build


creds = service_account.Credentials.from_service_account_file(
    'details-401417-63737f81ecd9.json',
    scopes=['https://www.googleapis.com/auth/spreadsheets']
)


service = build('sheets', 'v4', credentials=creds)
sheet = service.spreadsheets()
result = sheet.values().get(spreadsheetId='1gA16KuX-sIB573dyHp1uLDyiOtELX7WkkQycaxU2dWM', range='Consolidated').execute()

df = pd.DataFrame(result.get('values', []))
print(df)

    0                               1              2                    3   \
0                     Name of the cell  Date of cell   Did the cell happen
1            Sethu baskara school cell      18-7-2023                  Yes
2       Emmanuel methodist church cell      16-7-2023                   No
3       Emmanuel methodist church cell       9-7-2023                   No
4            Sethu baskara school cell      25-7-2023                  Yes
..  ..                             ...            ...                  ...
991
992
993
994
995

                           4                                          5   \
0    No. of students attended                          Students attended
1                           9  Samuel, Caleb Juda, Joshua, Calvin, Jabez
2
3
4                          10          Samuel, Caleb Juda, Calvin, Jabez
..                        ...                                        ...
991
992
993
994
995

                                                    6   \
0                                         New students
1                                Everyone new student
2
3
4    3 new students \n1.Thirumalai Vasan (Non-belie...
..                                                 ...
991
992
993
994
995

                                    7                            8   \
0            Details of cell happening         Bible study taken by
1    Singing, Practical talk, Activity  Staff/ Ministrial assistant
2
3
4       Singing, Bible study, Activity  Staff/ Ministrial assistant
..                                 ...                          ...
991
992
993
994
995

                             9                              10 11 12 13 14  \
0                   Cell led by                        Remarks
1    Staff/Ministrial assistant
2                                Youth members didn't turn up.
3                                    We couldn't go to church.
4    Staff/Ministrial assistant
..                          ...                            ... .. .. .. ..
991
992
993
994
995

                                 15           16         17       18
0                         Cell list  Week number  From date  To date
1       Mar Gregorious college cell           29  18-7-2023     None
2      St. Thomas college boys cell           29  16-7-2023     None
3           Korattur area boys cell           28   9-7-2023     None
4    Emmanuel methodist school cell           30  7/25/2023     None
..                              ...          ...        ...      ...
991                                           52       None     None
992                                           52       None     None
993                                           52       None     None
994                                           52       None     None
995                                           52       None     None

[996 rows x 19 columns]

In [5]:
df.columns = df.iloc[0]
df = df.iloc[1:].reset_index(drop=True)
df

,,Name of the cell,Date of cell,Did the cell happen,No. of students attended,Students attended,New students,Details of cell happening,Bible study taken by,Cell led by,Remarks,,,,,Cell list,Week number,From date,To date
0,,Sethu baskara school cell,18-7-2023,Yes,9,"Samuel, Caleb Juda, Joshua, Calvin, Jabez",Everyone new student,"Singing, Practical talk, Activity",Staff/ Ministrial assistant,Staff/Ministrial assistant,,,,,,Mar Gregorious college cell,29,18-7-2023,None
1,,Emmanuel methodist church cell,16-7-2023,No,,,,,,,Youth members didn't turn up.,,,,,St. Thomas college boys cell,29,16-7-2023,None
2,,Emmanuel methodist church cell,9-7-2023,No,,,,,,,We couldn't go to church.,,,,,Korattur area boys cell,28,9-7-2023,None
3,,Sethu baskara school cell,25-7-2023,Yes,10,"Samuel, Caleb Juda, Calvin, Jabez",3 new students \n1.Thirumalai Vasan (Non-belie...,"Singing, Bible study, Activity",Staff/ Ministrial assistant,Staff/Ministrial assistant,,,,,,Emmanuel methodist school cell,30,7/25/2023,None
4,,St. Thomas college boys cell,1-8-2023,Yes,3,"Calvin, Sam Abishek",One new student ( Richard Sam) believer,"Singing, Sharing time, Bible study, Activity",Staff/ Ministrial assistant,Student,,,,,,Nazarene church cell,31,1-8-2023,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
990,,,,,,,,,,,,,,,,,52,None,None
991,,,,,,,,,,,,,,,,,52,None,None
992,,,,,,,,,,,,,,,,,52,None,None
993,,,,,,,,,,,,,,,,,52,None,None
994,,,,,,,,,,,,,,,,,52,None,None

In [6]:
dates = df['Date of cell ']

In [7]:
type(dates)

pandas.core.series.Series

In [8]:
import numpy as np
dates = np.array(dates)

In [9]:
# dates = list(filter(None,dates))

weeks = np.array(df['Week number'])
# weeks = list(filter(None,weeks))

In [10]:
cells = np.array(df['Name of the cell'])

In [11]:
# cells = list(filter(None,cells))

In [12]:
did_it_take_place =  df['Did the cell happen']

In [13]:
sept_1 = []
sept_2 = []
sept_3 = []
sept_4 = []
oct_1 = []

for i in range (len(dates)):
    if weeks[i] == '36':
            sept_1.append(df.iloc[i,:10])
    elif weeks[i] == '37':
            sept_2.append(df.iloc[i,:10])
    elif weeks[i] == '38':
            sept_3.append(df.iloc[i,:10])
    elif weeks[i] == '39':
            sept_4.append(df.iloc[i,:10])
    elif weeks[i] == '40':
            oct_1.append(df.iloc[i,:10])

In [15]:
September = {'Week 1':sept_1, 'Week 2':sept_2, 'Week 3':sept_3, 'Week 4':sept_4}

In [16]:
September

{'Week 1': [0

  Name of the cell                      Sethu baskara school cell
  Date of cell                                           5-9-2023
  Did the cell happen                                         Yes
  No. of students attended                                      7
  Students attended            Samuel, Caleb Juda, Joshua, Calvin
  New students                                              Aron
  Details of cell happening        Singing, Bible study, Activity
  Bible study taken by                                   Graduate
  Cell led by                          Staff/Ministrial assistant
  Name: 15, dtype: object,
  0

  Name of the cell                                Emmanuel methodist church cell
  Date of cell                                                          3-9-2023
  Did the cell happen                                                        Yes
  No. of students attended                                                     5
  Students attended                       Joshua, Ruby, Prakash, Vignesh, Shoben
  New students                 Old member name not in the list - Mukilan. Nam...
  Details of cell happening                                           Discussion
  Bible study taken by                                            No Bible Study
  Cell led by                                                           Graduate
  Name: 17, dtype: object,
  0

  Name of the cell               St. Thomas college boys cell
  Date of cell                                       5-9-2023
  Did the cell happen                                     Yes
  No. of students attended                                  4
  Students attended                                    Calvin
  New students
  Details of cell happening    Singing, Bible study, Activity
  Bible study taken by                               Graduate
  Cell led by                      Staff/Ministrial assistant
  Name: 19, dtype: object,
  0

  Name of the cell             Emmanuel Methodist School EBS Boys cell
  Date of cell                                                6-9-2023
  Did the cell happen                                               No
  No. of students attended
  Students attended
  New students
  Details of cell happening
  Bible study taken by
  Cell led by
  Name: 20, dtype: object],
 'Week 2': [0

  Name of the cell             Emmanuel methodist church cell
  Date of cell                                      10-9-2023
  Did the cell happen                                      No
  No. of students attended
  Students attended
  New students
  Details of cell happening
  Bible study taken by
  Cell led by
  Name: 18, dtype: object,
  0

  Name of the cell                              Mar Gregorious college cell
  Date of cell                                                    15-9-2023
  Did the cell happen                                                   Yes
  No. of students attended                                                4
  Students attended                       Joel Nehemiah, Rufus, Abel, Benny
  New students
  Details of cell happening    Singing, Sharing time, Bible study, Activity
  Bible study taken by                                             Graduate
  Cell led by                                                      Graduate
  Name: 22, dtype: object,
  0

  Name of the cell                              Kolathur girls cell (online)
  Date of cell                                                     16-9-2023
  Did the cell happen                                                    Yes
  No. of students attended                                                 4
  Students attended            Nissi Persis, Sarah Selina, Jessica, Angeline
  New students
  Details of cell happening     Singing, Sharing time, Bible study, Activity
  Bible study taken by                                              Graduate
  Cell led by                                                       Graduate
  Name: 42, dtype: object],
 'Week 3': [0

  Name of the cell                       MMM college nursing cell
  Date of cell                                          18-9-2023
  Did the cell happen                                         Yes
  No. of students attended                                      3
  Students attended                                        Praisy
  New students                                                 No
  Details of cell happening    Singing, Sharing time, Bible study
  Bible study taken by                Staff/ Ministrial assistant
  Cell led by                                             Student
  Name: 21, dtype: object,
  0

  Name of the cell              Emmanuel methodist school cell
  Date of cell                                       22-9-2023
  Did the cell happen                                      Yes
  No. of students attended                                   4
  Students attended            Rolland, Dhanush, Jabez, Kamesh
  New students                                          No...
  Details of cell happening               Singing, Bible study
  Bible study taken by                                Graduate
  Cell led by                                         Graduate
  Name: 28, dtype: object,
  0

  Name of the cell                                Emmanuel methodist school cell
  Date of cell                                                         22-9-2023
  Did the cell happen                                                        Yes
  No. of students attended                                                     4
  Students attended                              Rolland, Dhanush, Jabez, Kamesh
  New students                                                                No
  Details of cell happening    Singing, Sharing time, Bible study, Practical ...
  Bible study taken by                               Staff/ Ministrial assistant
  Cell led by                                                            Student
  Name: 33, dtype: object,
  0

  Name of the cell                                     Anna Nagar area boys cell
  Date of cell                                                         23-9-2023
  Did the cell happen                                                        Yes
  No. of students attended                                                     4
  Students attended                                                       Roshan
  New students                                                              None
  Details of cell happening    Singing, Sharing time, Bible study, Practical ...
  Bible study taken by                                                  Graduate
  Cell led by                                         Staff/Ministrial assistant
  Name: 35, dtype: object,
  0

  Name of the cell                             Kolathur girls cell (online)
  Date of cell                                                    23-9-2023
  Did the cell happen                                                   Yes
  No. of students attended                                                3
  Students attended                     Nissi Persis, Sarah Selina, Jessica
  New students
  Details of cell happening    Singing, Sharing time, Bible study, Activity
  Bible study taken by                                             Graduate
  Cell led by                                                       Student
  Name: 41, dtype: object],
 'Week 4': [0

  Name of the cell             Sethu Baskara school cell
  Date of cell                                 27-9-2023
  Did the cell happen                                 No
  No. of students attended
  Students attended
  New students
  Details of cell happening
  Bible study taken by
  Cell led by
  Name: 23, dtype: object,
  0

  Name of the cell             Emmanuel methodist school cell
  Date of cell                                      29-9-2023
  Did the cell happen                                     Yes
  No. of students attended                                  3
  Students attended                    Dhanush, Jabez, Kamesh
  New students
  Details of cell happening    Singing, Bible study, Activity
  Bible study taken by                               Graduate
  Cell led by                                        Graduate
  Name: 29, dtype: object,
  0

  Name of the cell                                Emmanuel methodist school cell
  Date of cell                                                         29-9-2023
  Did the cell happen                                                        Yes
  No. of students attended                                                     5
  Students attended                     Rolland, Dhanush, Jabez, Kamesh, Thivesh
  New students                                                                No
  Details of cell happening    Singing, Sharing time, Practical talk, Only Sp...
  Bible study taken by                               Staff/ Ministrial assistant
  Cell led by                                         Staff/Ministrial assistant
  Name: 32, dtype: object,
  0

  Name of the cell                             Kolathur girls cell (online)
  Date of cell                                                    30-9-2023
  Did the cell happen                                                   Yes
  No. of students attended                                                3
  Students attended                         Nissi Persis, Jessica, Angeline
  New students
  Details of cell happening    Singing, Sharing time, Bible study, Activity
  Bible study taken by                                             Graduate
  Cell led by                                                       Student
  Name: 40, dtype: object]}

In [17]:
October = {'Week 1':oct_1}
October

{'Week 1': [0

  Name of the cell                                      MMM college nursing cell
  Date of cell                                                         2-10-2023
  Did the cell happen                                                        Yes
  No. of students attended                                                     3
  Students attended                                                       Praisy
  New students                                                                No
  Details of cell happening    Singing, Sharing time, Bible study, Practical ...
  Bible study taken by                                                  Graduate
  Cell led by                                                            Student
  Name: 24, dtype: object,
  0

  Name of the cell                         St. Thomas college boys cell
  Date of cell                                                3-10-2023
  Did the cell happen                                               Yes
  No. of students attended                                            3
  Students attended            Calvin, Richard sam, Vignesh, Paul moses
  New students                                                    No..
  Details of cell happening              Singing, Bible study, Activity
  Bible study taken by                      Staff/ Ministrial assistant
  Cell led by                                                   Student
  Name: 25, dtype: object,
  0

  Name of the cell                              Sethu baskara school cell
  Date of cell                                                  3-10-2023
  Did the cell happen                                                 Yes
  No. of students attended                                              8
  Students attended            Steve, Allen, Immanuel, Samuel, Juda, Paul
  New students                                                    Logesh
  Details of cell happening             Singing, Practical talk, Activity
  Bible study taken by                        Staff/ Ministrial assistant
  Cell led by                                                    Graduate
  Name: 26, dtype: object,
  0

  Name of the cell                       Emmanuel Methodist School EBS Boys cell
  Date of cell                                                         4-10-2023
  Did the cell happen                                                        Yes
  No. of students attended                                                    15
  Students attended            Rishe, Sundar, Raj Kumar, Mohan Kumar, Sivapra...
  New students                                                            No...
  Details of cell happening                       Singing, Bible study, Activity
  Bible study taken by                                Staff/Ministrial assistant
  Cell led by                                         Staff/Ministrial assistant
  Name: 27, dtype: object,
  0

  Name of the cell                           Emmanuel methodist school cell
  Date of cell                                                    6-10-2023
  Did the cell happen                                                   Yes
  No. of students attended                                                4
  Students attended                         Rolland, Dhanush, Jabez, Kamesh
  New students                                                           No
  Details of cell happening    Singing, Sharing time, Bible study, Activity
  Bible study taken by                          Staff/ Ministrial assistant
  Cell led by                                    Staff/Ministrial assistant
  Name: 31, dtype: object,
  0

  Name of the cell                              Korattur area boys cell
  Date of cell                                                7-10-2023
  Did the cell happen                                               Yes
  No. of students attended                                            3
  Students attended            Sharon Raj, Paul Theophilus, Neil Marcus
  New students                                                       No
  Details of cell happening        Singing, Bible study, Practical talk
  Bible study taken by                      Staff/ Ministrial assistant
  Cell led by                                                  Graduate
  Name: 34, dtype: object,
  0

  Name of the cell             Vanagaram area boys cell
  Date of cell                                2-10-2023
  Did the cell happen                                No
  No. of students attended
  Students attended
  New students
  Details of cell happening
  Bible study taken by
  Cell led by
  Name: 38, dtype: object,
  0

  Name of the cell             Kolathur girls cell (online)
  Date of cell                                    7-10-2023
  Did the cell happen                                    No
  No. of students attended
  Students attended
  New students
  Details of cell happening
  Bible study taken by
  Cell led by
  Name: 39, dtype: object]}